### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [193]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# schools = pd.read_csv(school_data_to_load)
# schools = schools.rename(columns={"name": "school_data_complete"})

# students = pd.read_csv(student_data_to_load)
# students = pd.DataFrame(students)

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv("https://raw.githubusercontent.com/saharthejamal/pandas_challenege/main/Resources/schools_complete.csv?raw=true")
student_data = pd.read_csv("https://raw.githubusercontent.com/saharthejamal/pandas_challenege/main/Resources/students_complete.csv?raw=true")

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
# print(school_data_complete)

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [194]:
# Calc the total number of schools and students
number_of_schools = school_data['School ID'].count()

number_of_students = student_data['Student ID'].count()

total_budget = school_data['budget'].sum()

math_avg = ((student_data['math_score'].sum())/number_of_students)
math_avg_round = str(round(math_avg,2))

reading_avg = ((student_data['reading_score'].sum())/number_of_students)
reading_avg_round = str(round(reading_avg,2))

math_passing = student_data.loc[student_data['math_score'] >= 70]
math_passing_length = ((len(math_passing)/number_of_students)*100)
avg_mathpass = str(round(math_passing_length,3))

reading_passing = student_data.loc[student_data['reading_score'] >= 70]
reading_passing_length = ((len(reading_passing)/number_of_students)*100)
avg_redpass = str(round(reading_passing_length,2))

math_and_reading = (math_passing_length + reading_passing_length)/2
avg_m_r = str(round(math_and_reading,2))

summary = pd.DataFrame({"Total Schools": [number_of_schools],
                        "Total Students": [number_of_students],
                        "District Budget": [total_budget],
                        "Average Math Score": [math_avg_round],
                        "Average Reading Score": [reading_avg_round],
                        "Passing Math Score": [avg_mathpass],
                        "Passing Reading Score": [avg_redpass],
                        "Overall Passing Score": [avg_m_r]})

summary = summary[["Total Schools", "Total Students", "District Budget",
                    "Average Math Score", "Average Reading Score", 
                    "Passing Math Score", "Passing Reading Score", "Overall Passing Score"]]
summary

,Total Schools,Total Students,District Budget,Average Math Score,Average Reading Score,Passing Math Score,Passing Reading Score,Overall Passing Score
0,15,39170,24649428,78.99,81.88,74.981,85.81,80.39

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [195]:
school_type = school_data.set_index(["school_name"])["type"]
per_school_count = school_data_complete["school_name"].value_counts()
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_capital = per_school_budget/per_school_count
per_school_math = school_data_complete.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete.groupby(["school_name"]).mean()["reading_score"]
school_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70 )]
school_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70 )]
passing_math_reading = school_data_complete[(school_data_complete["reading_score"] >=70 ) & (school_data_complete["math_score"] >= 70)]
per_school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"]/per_school_count*100
per_school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"]/per_school_count*100
overall_passing = passing_math_reading.groupby(["school_name"]).count()["student_name"]/per_school_count*100


school_data_summary = pd.DataFrame({
                                    "School Type": school_type,
                                    "Total Students": per_school_count,
                                    "Total School Budget": per_school_budget,
                                    "Per Student Budget": per_school_capital,
                                    "Average Math Score": per_school_math,
                                    "Average Reading Score": per_school_reading,
                                    "Percent Passing Math": per_school_passing_math,
                                    "Percent Passing Reading": per_school_passing_reading,
                                    "Overall Passing Rate": overall_passing })

school_data_summary = school_data_summary[["School Type", "Total Students", "Total School Budget", 
                                 "Per Student Budget", "Average Math Score", "Average Reading Score", 
                                 "Percent Passing Math", "Percent Passing Reading", "Overall Passing Rate"]]

school_data_summary.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455

## Top Performing Schools &  Bottom Performing Schools (By % Overall Passing)

In [196]:
top_school = school_data_summary.sort_values(["Overall Passing Rate"],ascending=False)
top_school.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [197]:
bottom_school = school_data_summary.sort_values(["Overall Passing Rate"],ascending=True)
bottom_school.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [207]:
ninth_grade = school_data_complete.loc[school_data_complete["grade"]=='9th'].groupby(["school_name"])
tenth_grade = school_data_complete.loc[school_data_complete["grade"]=='10th'].groupby(["school_name"])
eleventh_grade = school_data_complete.loc[school_data_complete["grade"]=='11th'].groupby(["school_name"])
twelfth_grade = school_data_complete.loc[school_data_complete["grade"]=='12th'].groupby(["school_name"])
ninth_math = ninth_grade['math_score'].mean()
tenth_math = tenth_grade['math_score'].mean()
eleventh_math = eleventh_grade['math_score'].mean()
twelfth_math = twelfth_grade['math_score'].mean()

math_score_summary = pd.DataFrame({ "9th": ninth_math,
                                    "10th": tenth_math,
                                    "11th": eleventh_math,
                                    "12th": twelfth_math})

math_score_summary = math_score_summary[["9th", "10th", "11th", "12th"]]
math_score_summary.index.name= None

math_score_summary.head()

                            9th       10th       11th       12th
Bailey High School    77.083676  76.996772  77.515588  76.492218
Cabrera High School   83.094697  83.154506  82.765560  83.277487
Figueroa High School  76.403037  76.539974  76.884344  77.151369
Ford High School      77.361345  77.672316  76.918058  76.179963
Griffin High School   82.044010  84.229064  83.842105  83.356164

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [211]:
ninth_read = ninth_grade['reading_score'].mean()
tenth_read = tenth_grade['reading_score'].mean()
eleventh_read = eleventh_grade['reading_score'].mean()
twelfth_read = twelfth_grade['reading_score'].mean()

read_score_summary = pd.DataFrame({
                                    "9th": ninth_read,
                                    "10th": tenth_read,
                                    "11th": eleventh_read,
                                    "12th": twelfth_read})

read_score_summary = read_score_summary[["9th", "10th", "11th", "12th"]]
read_score_summary.index.name= None


read_score_summary.head()

                            9th       10th       11th       12th
Bailey High School    81.303155  80.907183  80.945643  80.912451
Cabrera High School   83.676136  84.253219  83.788382  84.287958
Figueroa High School  81.198598  81.408912  80.640339  81.384863
Ford High School      80.632653  81.262712  80.403642  80.662338
Griffin High School   83.369193  83.706897  84.288089  84.013699

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [236]:
per_school_capital

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [239]:
budget_bins = [0, 580, 610, 640, 670]
budget_range = ['<$580', '$580-610', '$610-640', '$640-670']
school_data_summary['Per Student Budget'] = school_data_summary['Per Student Budget'].astype(float)
school_data_summary["Budget Ranges Per Student"] = pd.cut(school_data_summary["Per Student Budget"], bins, labels=budget_range)
budget_range = school_data_summary.groupby("Budget Ranges Per Student")
budget_range = budget_range[["Average Math Score", "Average Reading Score", "Percent Passing Math", "Percent Passing Reading", "Overall Passing Rate"]]

budget_range.mean()

,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate
Budget Ranges Per Student,,,,,
<$580,83.274201,83.989488,93.867718,96.539641,90.582567
$580-610,83.549353,83.903238,93.686876,96.340888,90.265583
$610-640,79.474551,82.120471,77.139934,87.468080,68.476495
$640-670,77.023555,80.957446,66.701010,80.675217,53.717613

## Scores by School Size

* Perform the same operations as above, based on school size.

In [233]:
per_school_count

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [243]:
pop_bins = [0, 1000, 2000, 5000]
school_size = ['Small', 'Medium', 'Large']
school_data_summary["School Size"] = pd.cut(school_data_summary["Total Students"], pop_bins, labels=school_size)
school_pop = school_data_summary.groupby("School Size")
school_pop = school_pop[["Average Math Score", "Average Reading Score", "Percent Passing Math", "Percent Passing Reading", "Overall Passing Rate"]]
school_pop.mean()

,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate
School Size,,,,,
Small,83.821598,83.929843,93.550225,96.099437,89.883853
Medium,83.374684,83.864438,93.599695,96.790680,90.621535
Large,77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

* Perform the same operations as above, based on school type

In [244]:
school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [245]:
school_type_labels = school_data_summary.groupby("School Type")
school_type_labels = school_type_labels[["Average Math Score", "Average Reading Score", "Percent Passing Math", "Percent Passing Reading", "Overall Passing Rate"]]
school_type_labels.mean()

NameError: name 'type_bins' is not defined